*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #c4c4c4;
    height: 80%;
    width: 60%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 4rem;
}
.top{
    background-color: yellow;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
}
img{
    width: 10rem;
    height: 100%;
}
.buttom{
    background-color: aqua;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
}
/* .container img{
    height: 90%;
} */
